################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackendApi_RajuTourism/obj/Debug/net8.0/BackendApi_RajuTourism.sourcelink.json
/BackendApi_RajuTourism/bin
